<div class="box">
    <div class="login__container">
        <h3 class="header">Forgot your Password ?</h3>
        <p>Enter your Email Address to be able to reset your password</p>
        <form (submit)="setPassword($event)">
            <div class="form-group">
                <i class="fas fa-lock icons"></i>
                <input (input)="handleChange($event)" name="password" type="password" class="form-control input-field"
                    placeholder="Set Password" required />
            </div>
            <div class="form-group">
                <i class="fas fa-lock icons"></i>
                <input (input)="handleChange($event)" name="confirm_password" type="password" class="form-control input-field"
                    placeholder="Confirm Password" required />
            </div>
            <div class="form-group">
                <button type="submit" class="form-control btn-lg button">Set New Password</button>
            </div>
            <div class="form-group">
                <p class="header">
                    Already have an account?
                    <a routerLink="/login" routerLinkActive="active">Sign In</a>
                </p>
            </div>
        </form>
    </div>
</div>


<ng-template #mymodal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Reset Password</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">Password Modified Successfully. Sign In with your new Password</div>
    <!-- <div class="modal-footer">
        <button type="button" class="btn-red btn-outline-danger">
            Yes
        </button>
    </div> -->
</ng-template>